.Documents{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    a{
        color: black;
        margin-bottom: 10px;
    }
 
}


   .policy-note{
    text-align: center;
    margin-top: 50px;
        

    p{
        margin: 25px 200px;
    }
    }