.LoadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    animation: fadeOut 1s forwards;
    animation-delay: 3s;
    z-index: 9999;
    color: white;

    p{
        all: unset;
        margin: 2px 0;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}
