.LoadingSpinner{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.578);
    position: absolute;
    top: 0;
    left: 0;
}