.ContactForm{
    
    width: fit-content;
    border-radius: 20px;
    padding: 50px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* X, Y, Blur, Color */
    width: 25%;

    h1{
        margin: 10px;
        padding: 0;
    }

    input{
        width: 90%;
        padding: 10px;
        border: solid 1px #ccc;
        border-radius: 10px;
        margin-top: 20px;
    }

    select{
        all:unset;
        width: 90%;
        padding: 10px;
        border: solid 1px #ccc;
        border-radius: 10px;
        margin-bottom: 5px;
    }   

    p{
        margin: 0;
        margin-top: 5px;
        padding: 0;
        color: red;
        align-self: center;
        text-align: center;
    }
    button{
        width: 100%;
        margin: 15px 0;
        color: rgb(255, 255, 255);
        background-color: black;
        padding: 15px 10px;
        font-size: 15px;
        font-weight: bold;
        border-radius: 10px;
    }


    .button-inactive{
        opacity: 0.5;
        background-color: grey;
    }

    button:hover{
        cursor: pointer;
        background-color: #333;
        scale:1.02;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .error-text{
        display: none;
    }


}

@media screen and (max-width: 1024px) {
    .ContactForm{
        width: 70%;
    }
}