.Navbar{
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin-top: 10px;
    img{
        width: 70px;
        height: 70px;
        margin-left: 40px;
    }
    align-items: center;
    h1{
        margin-left: 20px;
    }

    h1:hover{
        cursor: pointer;
    }


    
}