.Navbar{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    align-items: center;
    justify-content: center;

    .nav-links{
        display: flex;
        flex-direction: row  ;
        justify-content: center;
        align-items: center;
    }
    img{
        width: 70px;
        height: 70px;
        margin-left: 40px;
    }
    
    h1{
        margin-left: 20px;
    }

    h1:hover{
        cursor: pointer;
    }
  
}

@media screen and (max-width: 1024px) {
  .Navbar{
    flex-direction: column;
    width: 100%;
    h1{
        font-size: 20px;
        justify-content: center;
    }

    .nav-links{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    img{
        margin: 0;
    }
  }
}