.Claims{
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 50px 0;

    .logout{
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px 10px;
        border-radius: 10px;
        border: solid 1px red;
        background-color: black;
        color: red;
        font-size: 14px;
    }

    .logo{
        border-radius: 20px;
        margin-bottom: 20px;
    }

    h1{
        line-height: 0;
    }
    h3{
        width: 80%;
        text-align: center;
    }
    a{
        img{
            align-self: center;
        }
        all: unset;
        display: flex;
        gap: 5px;
        justify-content: center;
        align-self: center;
        border: solid 1px black;
        padding: 0 5px;
        border-radius: 20px;
    }

    ol{

    }

    button{
        margin: 20px 0;
        padding: 10px 50px;
        border-radius: 20px;
        border: none;
        background-color: black;
        color: white;
        font-size: 18px;
                font-size: 18px;
        font-weight: bold;
        padding: 5px 15px;

    }

    button:hover{
        background-color: #ffffff;
        color: black;
    }

        form{
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    label{
        color: #333;
        font-size: 14px;
        margin-top: 10px;
    }

    input{
        margin-top: 5px ;
        padding: 5px;
        border-radius: 5px;
        border: solid 1px rgb(154, 152, 152);
    }

    button{
        margin-top: 15px;
        padding: 10px 5px;
        border-radius: 5px;
        border: none;
        background-color: black;
        color: white;
        font-weight: bold;
    }

    .instructions{
        text-align: center;
    }

    .policy-header{
        font-size: 25px;
        font-weight: bold;
    }

.buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;

        .download-claim-form{
        margin-top: 10px;
        font-size: 18px;
        font-weight: bold;
        padding: 5px 15px;
        width: 100%;
    }

    .download-claim-form:hover{
        background-color: black;
        color: white;
    }

    button{
        width: 100%;
            font-size: 18px;
            font-weight: bold;
            padding: 5px 15px;
    }
}
}


    @media screen and (max-width: 1024px) {
        .Claims{
            width: 100vw;
            height: fit-content;
            display: flex;
            justify-content: center;
        }
    }